img.png-set1 {
  width: 200px;
}
img.png-set {
  width: 30px;
}
.main5 {
  text-align: center;
}
.imoji {
  justify-content: center;
  display: flex;
}
img.png-set {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
p.p-circle {
  margin: -6px 17px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px 12px;
}

table {
  margin: auto;
}
tr {
  height: 60px;
}
p.p-p {
  width: 264px;
  margin: 0;
}
img.im-arrow {
  display: inline-flex;
  width: 48px;
  height: 25px;
  vertical-align: middle;
}
.btnn {
  float: right;
  border: 3px solid black;
  background: white;
  font-size: 35px;
  font-variant: all-petite-caps;
  font-weight: bolder;
  border-radius: 11px;
}
.h11 {
  font-size: 36px;
  margin: 0;
}

.main5 {
  padding: 0px 10%;
}